// ==========================================================================
//
//   BASE
//
// ==========================================================================
@use '../common/vars' as var;
@use '../common/mixin' as mixin;

html {
	font-size: min(62.5%, calc(1000vw/1280));
  @include mixin.mq(sp) {
    font-size: calc(1000vw/375);
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: 0;
  font-family: var(--fontJA);
  color: var(--colorText);
  background-color: #fff;
  line-height: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  //文字サイズが勝手に大きくなるの防止
  -webkit-text-size-adjust: 100%;
}

a, button {
  // color: var(--colorMain);
  text-decoration: none;
  cursor: pointer;
  transition:
    opacity .4s,
    color .4s,
    border-color .4s,
    background-color .4s,
    background-image .4s,
    box-shadow .4s
  ;
  img {
    transition: opacity .4s;
  }
  path{
    transition: fill .4s;
  }
  &:link,
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
    outline: none;
  }
  &:active{
    outline: none;
  }
  @include mixin.mq(pc) {
    &[href*="tel:"] {
      pointer-events: none;
    }
  }
}

img, svg {
  display: block;
	max-width: 100%;
  height: auto;
}

section, article {
  display: block;
}


*::selection {
  background: rgba(#231c88, .2);
  // color: #fff;
}