// ==========================================================================
//
// VARIABLES
//
// ==========================================================================

$breakPoint: 768px !default;

$pcMinWidth: 1200px;
$spMinWidth: 375px;

:root {
  --colorText: #0F0F0F;
  --colorLink: #0F0F0F;
  --colorMain: #EA5514;
  --colorGray: #f0f0f0;
  --colorTheme: #DAE1E4;
  --fontJA: sans-serif;
  --fontEN: sans-serif;
}