DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>


<FilesMatch "\.(php|html)$">
  #AddHandler php7-script .php .html
</FilesMatch>

<Files ~ "^\.(htaccess|htpasswd|env|twig)$">
  deny from all
</Files>

<Files ~ "composer\.json$">
  deny from all
</Files>