// ==========================================================================
//
//   top
//
// ==========================================================================
@use '../common/vars'  as var;
@use '../common/mixin'  as mixin;

.page-top {
}