@charset "UTF-8";

/* CNDOOR CSS FORMAT */


/* Font */

.f10 { font-size: 1rem; }
.f12 { font-size: 1.2rem; }
.f14 { font-size: 1.4rem; }
.f16 { font-size: 1.6rem; }
.f18 { font-size: 1.8rem; }
.f20 { font-size: 2rem; }
.f22 { font-size: 2.2rem; }
.f24 { font-size: 2.4rem; }
.f26 { font-size: 2.6rem; }

.fb { font-weight: bold; }
.fn { font-weight: normal; }

.fm { font-family: monospace; }

.fn { font-style: normal; }
.fi { font-style: italic; }
.fo { font-style: oblique; }

.l100 { line-height: 1; } /* 100% */
.l120 { line-height: 1.2; } /* 120% */
.l130 { line-height: 1.3; } /* 130% */
.l140 { line-height: 1.4; } /* 140% */
.l150 { line-height: 1.5; } /* 150% */
.l160 { line-height: 1.6; } /* 160% */
.l170 { line-height: 1.7; } /* 170% */
.l180 { line-height: 1.8; } /* 180% */
.l200 { line-height: 2; } /* 200% */
.l250 { line-height: 2.5; } /* 250% */
.l300 { line-height: 3; } /* 300% */


/* Layout */

.tl,
.tl th,
.tl td { text-align: left !important; }
.tr,
.tr th,
.tr td { text-align: right !important; }
.tc,
.tc th,
.tc td { text-align: center !important; }

.vt,
.vt img,
.vt th,
.vt td { vertical-align: top !important; }
.vm,
.vm img,
.vm th,
.vm td { vertical-align: middle !important; }
.vb,
.vb img,
.vb th,
.vb td { vertical-align: bottom !important; }

.cb { clear: both; }

.cf {
	display: inline-block;
}
.cf:after {
	content: ".";
	font-size: 0.1em;
	line-height: 0;
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
/* \*/
* html .cf {
    height: 1%;
}
.cf {
    display: block;
}
/* */


/* width */

.w1 { width: 1%; }
.w2 { width: 2%; }
.w3 { width: 3%; }
.w4 { width: 4%; }
.w5 { width: 5%; }
.w6 { width: 6%; }
.w7 { width: 7%; }
.w8 { width: 8%; }
.w9 { width: 9%; }
.w10 { width: 10%; }
.w11 { width: 11%; }
.w12 { width: 12%; }
.w13 { width: 13%; }
.w14 { width: 14%; }
.w15 { width: 15%; }
.w16 { width: 16%; }
.w17 { width: 17%; }
.w18 { width: 18%; }
.w19 { width: 19%; }
.w20 { width: 20%; }
.w21 { width: 21%; }
.w22 { width: 22%; }
.w23 { width: 23%; }
.w24 { width: 24%; }
.w25 { width: 25%; }
.w26 { width: 26%; }
.w27 { width: 27%; }
.w28 { width: 28%; }
.w29 { width: 29%; }
.w30 { width: 30%; }
.w31 { width: 31%; }
.w32 { width: 32%; }
.w33 { width: 33%; }
.w34 { width: 34%; }
.w35 { width: 35%; }
.w36 { width: 36%; }
.w37 { width: 37%; }
.w38 { width: 38%; }
.w39 { width: 39%; }
.w40 { width: 40%; }
.w41 { width: 41%; }
.w42 { width: 42%; }
.w43 { width: 43%; }
.w44 { width: 44%; }
.w45 { width: 45%; }
.w46 { width: 46%; }
.w47 { width: 47%; }
.w48 { width: 48%; }
.w49 { width: 49%; }
.w50 { width: 50%; }
.w51 { width: 51%; }
.w52 { width: 52%; }
.w53 { width: 53%; }
.w54 { width: 54%; }
.w55 { width: 55%; }
.w56 { width: 56%; }
.w57 { width: 57%; }
.w58 { width: 58%; }
.w59 { width: 59%; }
.w60 { width: 60%; }
.w61 { width: 61%; }
.w62 { width: 62%; }
.w63 { width: 63%; }
.w64 { width: 64%; }
.w65 { width: 65%; }
.w66 { width: 66%; }
.w67 { width: 67%; }
.w68 { width: 68%; }
.w69 { width: 69%; }
.w70 { width: 70%; }
.w71 { width: 71%; }
.w72 { width: 72%; }
.w73 { width: 73%; }
.w74 { width: 74%; }
.w75 { width: 75%; }
.w76 { width: 76%; }
.w77 { width: 77%; }
.w78 { width: 78%; }
.w79 { width: 79%; }
.w80 { width: 80%; }
.w81 { width: 81%; }
.w82 { width: 82%; }
.w83 { width: 83%; }
.w84 { width: 84%; }
.w85 { width: 85%; }
.w86 { width: 86%; }
.w87 { width: 87%; }
.w88 { width: 88%; }
.w89 { width: 89%; }
.w90 { width: 90%; }
.w91 { width: 91%; }
.w92 { width: 92%; }
.w93 { width: 93%; }
.w94 { width: 94%; }
.w95 { width: 95%; }
.w96 { width: 96%; }
.w97 { width: 97%; }
.w98 { width: 98%; }
.w99 { width: 99%; }
.w100 { width: 100%; }


/* Margin */

.mt0 { margin-top: 0 !important ; }
.mt5 { margin-top: 0.5rem !important ; }
.mt10 { margin-top: 1rem !important ; }
.mt15 { margin-top: 1.5rem !important ; }
.mt20 { margin-top: 2rem !important ; }
.mt25 { margin-top: 2.5rem !important ; }
.mt30 { margin-top: 3rem !important ; }
.mt35 { margin-top: 3.5rem !important ; }
.mt40 { margin-top: 4rem !important ; }
.mt45 { margin-top: 4.5rem !important ; }
.mt50 { margin-top: 5rem !important ; }
.mt60 { margin-top: 6rem !important ; }
.mt70 { margin-top: 7rem !important ; }
.mt80 { margin-top: 8rem !important ; }
.mt90 { margin-top: 9rem !important ; }
.mt100 { margin-top: 10rem !important ; }
.mb0 { margin-bottom: 0 !important ; }
.mb5 { margin-bottom: 0.5rem !important ; }
.mb10 { margin-bottom: 1rem !important ; }
.mb15 { margin-bottom: 1.5rem !important ; }
.mb20 { margin-bottom: 2rem !important ; }
.mb25 { margin-bottom: 2.5rem !important ; }
.mb30 { margin-bottom: 3rem !important ; }
.mb35 { margin-bottom: 3.5rem !important ; }
.mb40 { margin-bottom: 4rem !important ; }
.mb45 { margin-bottom: 4.5rem !important ; }
.mb50 { margin-bottom: 5rem !important ; }
.mb60 { margin-bottom: 6rem !important ; }
.mb70 { margin-bottom: 7rem !important ; }
.mb80 { margin-bottom: 8rem !important ; }
.mb90 { margin-bottom: 9rem !important ; }
.mb100 { margin-bottom: 10rem !important ; }
.ml0 { margin-left: 0 !important ; }
.ml5 { margin-left: 0.5rem !important ; }
.ml10 { margin-left: 1rem !important ; }
.ml15 { margin-left: 1.5rem !important ; }
.ml20 { margin-left: 2rem !important ; }
.ml25 { margin-left: 2.5rem !important ; }
.ml30 { margin-left: 3rem !important ; }
.ml35 { margin-left: 3.5rem !important ; }
.ml40 { margin-left: 4rem !important ; }
.ml45 { margin-left: 4.5rem !important ; }
.ml50 { margin-left: 5rem !important ; }
.ml60 { margin-left: 6rem !important ; }
.ml70 { margin-left: 7rem !important ; }
.ml80 { margin-left: 8rem !important ; }
.ml90 { margin-left: 9rem !important ; }
.ml100 { margin-left: 10rem !important ; }
.mr0 { margin-right: 0 !important ; }
.mr5 { margin-right: 0.5rem !important ; }
.mr10 { margin-right: 1rem !important ; }
.mr15 { margin-right: 1.5rem !important ; }
.mr20 { margin-right: 2rem !important ; }
.mr25 { margin-right: 2.5rem !important ; }
.mr30 { margin-right: 3rem !important ; }
.mr35 { margin-right: 3.5rem !important ; }
.mr40 { margin-right: 4rem !important ; }
.mr45 { margin-right: 4.5rem !important ; }
.mr50 { margin-right: 5rem !important ; }
.mr60 { margin-right: 6rem !important ; }
.mr70 { margin-right: 7rem !important ; }
.mr80 { margin-right: 8rem !important ; }
.mr90 { margin-right: 9rem !important ; }
.mr100 { margin-right: 10rem !important ; }


/* Padding */

.pt0 { padding-top: 0 !important ; }
.pt5 { padding-top: 0.5rem !important ; }
.pt10 { padding-top: 1rem !important ; }
.pt15 { padding-top: 1.5rem !important ; }
.pt20 { padding-top: 2rem !important ; }
.pt25 { padding-top: 2.5rem !important ; }
.pt30 { padding-top: 3rem !important ; }
.pt35 { padding-top: 3.5rem !important ; }
.pt40 { padding-top: 4rem !important ; }
.pt45 { padding-top: 4.5rem !important ; }
.pt50 { padding-top: 5rem !important ; }
.pt60 { padding-top: 6rem !important ; }
.pt70 { padding-top: 7rem !important ; }
.pt80 { padding-top: 8rem !important ; }
.pt90 { padding-top: 9rem !important ; }
.pt100 { padding-top: 10rem !important ; }
.pb0 { padding-bottom: 0 !important ; }
.pb5 { padding-bottom: 0.5rem !important ; }
.pb10 { padding-bottom: 1rem !important ; }
.pb15 { padding-bottom: 1.5rem !important ; }
.pb20 { padding-bottom: 2rem !important ; }
.pb25 { padding-bottom: 2.5rem !important ; }
.pb30 { padding-bottom: 3rem !important ; }
.pb35 { padding-bottom: 3.5rem !important ; }
.pb40 { padding-bottom: 4rem !important ; }
.pb45 { padding-bottom: 4.5rem !important ; }
.pb50 { padding-bottom: 5rem !important ; }
.pb60 { padding-bottom: 6rem !important ; }
.pb70 { padding-bottom: 7rem !important ; }
.pb80 { padding-bottom: 8rem !important ; }
.pb90 { padding-bottom: 9rem !important ; }
.pb100 { padding-bottom: 10rem !important ; }
.pl0 { padding-left: 0 !important ; }
.pl5 { padding-left: 0.5rem !important ; }
.pl10 { padding-left: 1rem !important ; }
.pl15 { padding-left: 1.5rem !important ; }
.pl20 { padding-left: 2rem !important ; }
.pl25 { padding-left: 2.5rem !important ; }
.pl30 { padding-left: 3rem !important ; }
.pl35 { padding-left: 3.5rem !important ; }
.pl40 { padding-left: 4rem !important ; }
.pl45 { padding-left: 4.5rem !important ; }
.pl50 { padding-left: 5rem !important ; }
.pl60 { padding-left: 6rem !important ; }
.pl70 { padding-left: 7rem !important ; }
.pl80 { padding-left: 8rem !important ; }
.pl90 { padding-left: 9rem !important ; }
.pl100 { padding-left: 10rem !important ; }
.pr0 { padding-right: 0 !important ; }
.pr5 { padding-right: 0.5rem !important ; }
.pr10 { padding-right: 1rem !important ; }
.pr12 { padding-right: 12px !important ; }
.pr15 { padding-right: 1.5rem !important ; }
.pr20 { padding-right: 2rem !important ; }
.pr25 { padding-right: 2.5rem !important ; }
.pr30 { padding-right: 3rem !important ; }
.pr35 { padding-right: 3.5rem !important ; }
.pr40 { padding-right: 4rem !important ; }
.pr45 { padding-right: 4.5rem !important ; }
.pr50 { padding-right: 5rem !important ; }
.pr60 { padding-right: 6rem !important ; }
.pr70 { padding-right: 7rem !important ; }
.pr80 { padding-right: 8rem !important ; }
.pr90 { padding-right: 9rem !important ; }
.pr100 { padding-right: 10rem !important ; }