@charset "UTF-8";

@page {
	margin: 10mm;
	size: 210mm 297mm;
}
@media print {
	body {
		-webkit-print-color-adjust: exact;
		width: 1190px;
		font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
		zoom: 0.8;
	}
	section {
		page-break-before: always;
	}
	section + section.new-none:not(:root) {
		page-break-before: avoid;
	}
	.new-page {
		page-break-before: always;
	}
}