@charset "UTF-8";




/* CSS STYLE */

html {
	font-size: 2.666666vw;
	font-family: "Roboto", sans-serif;
	font-weight:500;
	line-height:1.5;
}
body {
	min-width: 320px;
	font-size: 1.5rem;
	line-height: 1.65;
}

.spnone {
	display: none !important;
}

iframe[src*="youtube.com"], iframe[src*="youtube-nocookie.com"] {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: auto;
}










/* SITEPARTS */

#warp {
	width: 100%;
}

.fiexd_banner{
	display: flex;
	position: fixed;
	left:0;
	right:0;
	bottom:2rem;
	z-index: 1;
	width: 25.4rem;
	margin:auto;
	justify-content: space-between;
	align-items: center;
	a:nth-child(1){
		display:flex;
		align-items: center;
		justify-content: center;
		width:12.3rem;
		padding:0.7rem 0;
		color:#FFF;
		font-size:1.15rem;
		border:0.1rem solid #FFF;
		border-radius: 10rem;
		background:rgba(42,42,42,0.5);
	}
	a:nth-child(2){
		display:flex;
		align-items: center;
		justify-content: center;
		width:12.3rem;
		padding:0.7rem 0;
		color:#FFF;
		font-size:1.15rem;
		border:0.1rem solid 306FDB;
		border-radius: 10rem;
		background:#306FDB;
	}
}

header{
	background:#FFF;
	padding: 1.1rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5.4rem;
	.logo{
		width: 4.3rem;
	}
	.btn a{
		display: flex;
		background:#306FDB;
		color:#FFF;
		font-size:1.073rem;
		border-radius: 10rem;
		justify-content: center;
		align-items: center;
		height:2.5rem;
		width: 7.6rem;
	}
}

.main{
	position: relative;
	.main_text{
		position: absolute;
		left:0;
		right:0;
		margin:auto;
		top:6rem;
		color:#FFF;
		text-align: center;
		z-index: 1;
		h1{
			font-size: 1.337rem;
			letter-spacing:0;
			line-height: 1.8;
			font-weight:500;
			em{
				font-size: 4.116rem;
				font-family: "Anton", sans-serif;
				letter-spacing:0;
				font-weight: 400;
				font-style: normal;
				line-height: 1.3;
			}
		}
		span{
			font-weight:500;
			font-size:1.337rem ;
		}
	}
	.video_box{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: calc(100svh - 5.4rem);
	}
	.video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.pickupproducts{
	background:#000;
	padding:3rem 0 0 0;
	h2{
		font-size: 1.508rem;
		font-weight: 800;
		color: #FFF;
		letter-spacing: -0.1rem;
		font-family: "Inter", sans-serif;
		padding:0 2rem;
		margin-bottom: 1.5rem;
	}
	.sliders{
		padding:0;
		.child{
			margin:0 2rem;
			border-radius: 0.4rem;
			padding:0 0 0rem 0;
			background: #FFF url(../../assets/img/pickup_open.svg) center bottom 1rem no-repeat;
      background-size: 1.621rem 1.49rem;
			padding:0 0 2rem 0;
			.pickup_photo{
				position: relative;
				.child_ttl{
					position: absolute;
					top:6rem;
					left:0;
					right:0;
					margin:auto;
					text-align: center;
					color:#FFF;
					line-height: 1.5;
					em{
						font-family: "Inter", sans-serif;
						font-size:1.5rem;
						font-weight:800;
					}
					h3{
						font-family: "Anton", sans-serif;
						letter-spacing: 0;
						font-weight: 400;
						font-style: normal;
						font-size: 4.594rem;
						color:rgba(255,255,255,0.8);
					}
				}
				span{
					position: absolute;
					left:1.5rem;
					bottom:1.5rem;
					background:#FFF;
					display: inline-block;
					border-radius: 0.4rem;
					font-size: 1rem;
					padding:0.6rem 0 0.5rem 0;
					width: 5.4rem;
					text-align: center;
					line-height:1;
				}
			}
			.pricearea__reply {
				display: none;
				.zumen{
					padding:0 2rem;
					transition:.3s;
					position: relative;
				}
				a{
					font-size: 1.3rem;
					color:#FFF;
					width:11.9rem;
					border-radius: 10rem;
					padding:0.6rem 0;
					display: flex;
					background:#306FDB;
					margin:1rem auto 1rem;
					line-height:1;
					justify-content: center;
				}
				.slider_images {
					position: relative;
					width: 100%;
					margin-top:2rem;
					margin-bottom: 2rem;
					.image {
						width: 16.7rem;
						padding-right: 1rem;
					}
				}
			}
			.sub_text{
				color:#616161;
				font-size:1rem;
				line-height: 1.3;
				padding:1.5rem 2.5rem 1rem 2.5rem;
				transition:.3s;
				em{
					color:#000;
					font-size:1.05rem;
					display: block;
          margin-top: 0.3rem;
				}
			}
		}
		/*
		.pickuparea__text.open .sub_text{
			padding:1.5rem 2.5rem 3rem 2.5rem;
		}
		*/
		.child:has(.open) {
			background: #FFF url(../../assets/img/pickup_close.svg) center bottom 1rem no-repeat;
			background-size: 1.621rem 1.49rem;
			padding:0 0 2rem 0;
		}
		.pricearea_close{
			width: 100%;
			height:3rem;
			display: block;
			margin:0 0 -2rem 0;
		}
	}
}




.slick__inner.int {
  width: min(100%, 1120px);
  margin: 0 auto;
  padding: 0;
	overflow: hidden;
}
.slick__inner.int .slick__container {
  position: relative;
  /* インナー幅から片側をはみ出させる */
  width: calc(100% + (100vw - 100%) / 2);
  /* / インナー幅から片側をはみ出させる */
}
.slick__inner.int .slick__image {
	position: relative;
	width: 25.2rem;
	padding-left: 2rem;
	height: 33.2rem;
}
/*.slick__inner.int .slick__image:before {
  display: block;
  padding-top: calc((2 / 3) * 100%);
  content: '';
}*/
.slick__inner.int .slick__image img {
  /*position: absolute;
  top: 0;
  left: 0;
  object-fit:contain;*/
  width: 100%;
  height: 100%;
}



.sliderArea .slick-slide{
	margin:0 2rem;
}
.sliderArea p{
	color: #dedede;
	font-size: 0.822rem;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 300;
	padding:1rem 2rem 0 2rem;
	text-align: center;
}
.sliderArea.bottoms{
	margin-top:3rem;
}
















.movie{
	background:#000;
	padding:4rem 2rem 0 2rem;
	h2{
		font-size: 1.508rem;
		font-weight: 800;
		color: #FFF;
		letter-spacing: -0.1rem;
		font-family: "Inter", sans-serif;
		margin-bottom:0.5rem;
	}

}

.column{
	background:#000;
	padding:4rem 2rem 6rem 2rem;
	h2{
		font-size: 1.508rem;
		font-weight: 800;
		color: #FFF;
		letter-spacing: -0.1rem;
		font-family: "Inter", sans-serif;
		margin-bottom: 1.5rem;
	}
	p{
		color: #FFF;
    font-size: 1.071rem;
		margin-bottom:2rem;
	}
	.column_box{
		display: flex;
		flex-wrap: wrap;
		order:2;
	}
	.column_more{
		width: 100%;
		height:2rem;
		background:url(../../assets/img/column_open.svg) center center no-repeat;
		background-size:1.621rem 1.49rem;
		order:1;
	}
	.column_more.active{
		background:url(../../assets/img/column_close.svg) center center no-repeat;
		background-size:1.621rem 1.49rem;
		opacity: 0;
		pointer-events: none;
	}
	.more_text{
		display: none;
		color: #FFF;
    font-size: 1.071rem;
		margin-bottom:0;
	}
}





.interior{
	background:#000;
	position: relative;
	h3{
		font-family: "Inter", sans-serif;
		font-weight:800;
		color:#FFF;
		font-size: 4.5rem;
		position: absolute;
		left:1rem;
		top:4rem;
	}
	p{
		color:#FFF;
		font-size: 1.071rem;
		padding:2.5rem 1rem 6rem 1rem;
	}
}

.product{
	background:#000;
	padding:5rem 0 0 0;
	h3{
		font-size: 2.168rem;
  	font-weight: 800;
		color:#FFF;
		padding:0 2rem 2rem 2rem;
		letter-spacing:-0.1rem;
		font-family: "Inter", sans-serif;
		span{
			font-size: 1.5rem;
			display:block;
			font-family: "Roboto", sans-serif;
			font-weight:500;
			line-height:1;
		}
	}
	.sliders_block{
		.slick-slide {
			position: relative;
			width: 29rem;
			padding-left: 2rem;
		}
		.pricearea__text{
			position: relative;
			span{
				position: absolute;
				left:1rem;
				bottom:1rem;
				font-size: 1rem;
				color:#FFF;
			}
		}
		.pricearea__text span:after{
			content:">";
			position: absolute;
			top:0rem;
			right:-0.8rem;
		}
		.pricearea__text.open span:after{
			content:"∨";
			font-size: 0.7rem;
			position: absolute;
			top:0.2rem;
			right:-0.8rem;
		}
		.pricearea__reply {
			display: none;
			border-bottom-right-radius:4rem;
			margin-top:-1.5rem;
			background:#FFF url(../../assets/img/pickup_close.svg) center bottom 1rem no-repeat;
			background-size: 1.621rem 1.49rem;
			padding: 0 0 0rem 0;
			p{
				color: #616161;
				font-size: 1rem;
				line-height: 1.3;
				padding:3rem 1rem 0 1rem;
				em{
					color: #000;
					font-size: 1.05rem;
					display: block;
					margin-top: 0.3rem;
				}
			}
			a{
				font-size: 1.3rem;
				color: #FFF;
				width: 11.9rem;
				border-radius: 10rem;
				padding: 0.6rem 0;
				display: flex;
				background: #306FDB;
				margin: 1rem auto 1rem;
				line-height: 1;
				justify-content: center;
			}
			.pricearea_close{
				width: 100%;
				height:3rem;
				display: block;
			}
			.zumen{
				padding:0 1.5rem;
			}
		}
	}
	.slider_images {
		position: relative;
		width: 100%;
		margin-top:2rem;
		margin-bottom: 2rem;
		.image {
			width: 16.7rem;
			padding-right: 1rem;
		}
	}
}














.afterservice{
	padding:5rem 0 0 0;
	background:#000;
	h3{
		font-size: 2.168rem;
  	font-weight: 800;
		color:#FFF;
		padding:0 2rem 2rem 2rem;
		letter-spacing:-0.1rem;
		font-family: "Inter", sans-serif;
	}
	.after_service_area{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-top:0.15rem solid #4c4c4c;
		.after_block{
			width: 50%;
			border-bottom:0.15rem solid #4c4c4c;
			text-align: center;
			position: relative;
			padding-bottom:6rem;
			span{
				font-size: 1.225rem;
				font-family: "Inter", sans-serif;
				color:#FFF;
				position: absolute;
				left:2rem;
				top:2rem;
			}
			.after_image{
				height:13rem;
				display: flex;
				align-items: center;
				justify-content: center;
				margin:6rem 0 2rem 0;
			}
			h4{
				font-size:1.058rem;
				font-weight:900;
				color:#FFF;
				letter-spacing:0.2rem;
				margin-bottom:1.5rem;
			}
			p{
				color:#dedede;
				font-size: 0.822rem;
				font-family: "Noto Sans JP", sans-serif;
				font-weight:300;
				width: 15rem;
				margin:auto;
			}
		}
		.after_block:nth-of-type(1),
		.after_block:nth-of-type(3){
			border-right:0.15rem solid #4c4c4c;
		}
	}
	.afterservice_bottom_text{
		font-family: "Noto Sans JP", sans-serif;
		font-size: 0.7rem;
		color: #FFF;
		display: table;
		margin:0.5rem 1rem 0 auto;
	}
}



.partnewship{
	background:#000;
	padding:7rem 0rem 10rem 0rem;
	box-shadow:0 0.4rem 0.4rem 0 rgba(0,0,0,0.4);
	h3{
		padding:0 2rem;
		font-size: 2.168rem;
  	font-weight: 800;
		color:#FFF;
		letter-spacing:-0.1rem;
		font-family: "Inter", sans-serif;
		margin-bottom: 1.5rem;
	}
	.slick-dotted.slick-slider{
		margin-bottom:0;
	}
	.slick-dots{
		bottom:1rem;
		width: auto;
		margin:auto;
		left: 0;
    right: 0;
		background:rgba(0,0,0,0.3);
		display: flex;
		width: 6rem;
		justify-content: center;
		align-items: center;
		height:1rem;
		border-radius: 10rem;
	}
	.slick-dots li{
		width: 1rem;
		height:1rem;
		margin:0;
	}
	.slick-dots li button{
		width: 0.2rem;
    height: 0.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.slick-dots li button:before{
		font-size: 1rem;
    line-height: 0.7rem;
		width: 0.2rem;
    height: 0.2rem;
	}
	.slick-dots li button:before{
		color:#DBDBDB;
		opacity: 1;
		right: 0;
    margin: auto;
	}
	.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #FFF;
	}
}






.instagram{
	padding:4rem 2rem 1rem 2rem;
	font-family: "Inter", sans-serif;
	h3{
		font-size: 2.168rem;
  	font-weight: 800;
		color:#000;
		margin-bottom:1.55rem;
		letter-spacing:-0.04rem;
		font-family: "Inter", sans-serif;
	}
	.insta_ttl{
  	font-weight: 500;
		color:#000;
		letter-spacing:0.2rem;
		background:url(../../assets/img/insta_icon.svg) left center no-repeat;
		background-size:1.6rem 1.6rem;
		padding:0 0 0 2.5rem;
		margin-bottom:1.9rem;
		font-size: 2rem;
		font-family: "Inter", sans-serif;
	}
	a.fl_link{
		font-weight: 400;
		background:#306FDB url(../../assets/img/arw_icon.svg) right 2rem center no-repeat;
		background-size:0.8rem 0.8rem;
		color:#FFF;
		font-size:1.7rem;
		height:3.784rem;
		padding:0 2rem;
		display: flex;
		align-items: center;
		width:12.87rem;
		border-radius: 10rem;
		font-family: "Inter", sans-serif;
	}
	.smartpn{
		width:30rem;
		margin:2.2rem auto 0;
	}
}




.contact{
	padding:0 1.5rem 3rem 1.5rem;
	font-family: "Noto Sans JP", sans-serif;
	h2{
		background:#306fdb;
		font-size:1.4rem;
		font-weight:700;
		text-align: center;
		color:#FFF;
		padding:0.25rem 0;
		position: relative;
	}
	h2:before{
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -0.8rem;
		border: 0.8rem solid transparent;
		border-top: 0.8rem solid #306fdb;
	}
	.contact-main{
		padding:2rem 1rem 0 1rem;
		font-weight:400;
		.form-item {
			font-size: 1.2rem;
			margin-bottom: 1.5rem;
		}
		.form-item--hol {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
		.form-item--hol .form-item__label {
			margin-bottom: 0;
		}
		.form-item:last-child {
			margin-bottom: 0;
		}
		.form-item__label {
			font-weight: 400;
			margin-bottom: 0.1rem;
			display: flex;
			align-items: baseline;
			line-height: 2rem;
			font-size: 1.2rem;
		}
		.form-item__label::after {
			margin-right: 0.75rem;
			color: #fff;
			background-color: #212121;
			padding: 0.2rem 0.2rem;
			line-height: 1.4rem;
			height: 1.6rem;
			line-height: 1;
			font-size: 1.2rem;
			font-weight:400;
			vertical-align: middle;
			border-radius: 0.4rem;
			top: -0.1rem;
			margin-left: 1rem;
		}
		.form-item__label.require::after {
			content: "必須";
			background-color: #db504b;
		}
		.form-item__body.col2 {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5rem;
		}
		.form-item__body label {
			position: relative;
			border-radius: 3px;
			display: inline-block;
			border-radius: 3px;
			display: inline-flex;
			align-items: center;
			padding: 1rem;
			margin-right: 1rem;
		}
		.form-item__body select,
		.form-item__body input[type=email],
		.form-item__body input[type=tel],
		.form-item__body input[type=text] {
			padding: 1rem;
			appearance: none;
			color: var(--black);
			line-height: 1.625;
			padding: 1rem 1rem;
			border: solid 1px #bcbcbc;
			border-radius: 3px;
			background: #f2f2f2;
			width: 100%;
			height: 3rem;
			font-size: 1.4rem;
		}
		.form-item__body select::placeholder,
		.form-item__body input[type=email]::placeholder,
		.form-item__body input[type=tel]::placeholder,
		.form-item__body input[type=text]::placeholder {
			color: #BCBCBC;
		}
		.form-item__body textarea {
			border: 1px solid #BCBCBC;
			background-color: #F2F2F2;
			padding: 1rem 1rem;
			border-radius: 1.44px;
			appearance: none;
			color: var(--black);
			width: 100%;
			height:6rem;
			font-size: 1.4rem;
			line-height: 1.2;
		}
		.form-item__body textarea::placeholder {
			color: #BCBCBC;
		}
		.form-buttons {
			margin: -1rem 0 -6rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.form-button {
			overflow: visible;
			background-color: #5490f5;
			border-radius: 1.4px;
			width: 13.9rem;
			height: 2.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			font-weight: bold;
			color: #fff;
			margin: 3.3rem auto 0rem;
		}
		.form-button img {
			width: 0.5rem;
			margin-left: 0.4rem;
		}
		.extra_margin{
		margin-bottom:0.5rem;
		}
		.check_sp{
			margin-left:0.5rem;
		}
	}
}








/* FOOTER */

#footer {
	position: relative;
	background-color:#000;
	width: 100%;
	margin-top:0;
	padding: 4.5rem 0 4rem 0;
	line-height: 1;
	.footer_logo {
		text-align: center;
		font-size: 2.87rem;
		font-family: "Koulen", sans-serif;
		font-weight: 400;
		font-style: normal;
		color:#FFF;
		letter-spacing:0.292rem;
		margin-bottom:3.3rem;
	}
	ul.sns{
		display: flex;
		align-items: center;
		justify-content: center;
		li a{
			background:#FFF;
			display: flex;
			align-items: center;
			justify-content: center;
			width:3.8rem;
			height:3.8rem;
			border-radius: 10rem;
			margin:0 0.6rem;
		}
	}
	.pagetop{
		text-align: center;
		margin-top:3rem;
		letter-spacing:0.085rem;
		font-size: 1rem;
		a{
			font-family: "Inter", sans-serif;
			font-weight: 700;
			color:#FFF;
			padding:0.3rem 1.5rem 0.4rem 1.5rem;
			border:0.15rem solid #FFF;
			border-radius: 10rem;
		}
	}
	.footer_link{
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		margin-top:0.7rem;
		li{
			width: 30rem;
			margin-top:2rem;
			a{
				background:#FFF;
				border:0.2rem solid #3E3A39;
				display:flex;
				height:5.4rem;
				border-radius: 10rem;
				font-size: 1.7rem;
				justify-content: center;
				align-items: center;
				font-weight:700;
			}
		}
		li:nth-child(1) a{
			background:#FFF url(../../assets/img/footer_house_icon.svg) left 3rem center no-repeat;
			background-size:2.746rem 2.657rem;
		}
		li:nth-child(3) a{
			background:#FFF url(../../assets/img/footer_g_icon.svg) left 3rem top 1.6rem no-repeat;
			background-size:1.642rem 2.368rem;
		}
	}
}




.confirm{
	border-top:1px solid #CCC;
	padding:2rem;
	h2{
		background: #306fdb;
		font-size: 1.4rem;
		font-weight: 700;
		text-align: center;
		color: #FFF;
		padding: 0.25rem 0;
		position: relative;
	}
	h2:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -0.8rem;
		border: 0.8rem solid transparent;
		border-top: 0.8rem solid #306fdb;
	}
	.form-buttons {
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
		.form-button{
			overflow: visible;
			background-color: #5490f5;
			border-radius: 1.4px;
			width: 15rem;
			height: 2.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			font-weight: bold;
			color: #fff;
			margin: 0 auto 1rem;
		}
		.form-button img {
			width: 0.5rem;
			margin-left: 0.4rem;
		}
		.form-button.back {
			background-color: #707070;
			color: #fff;
		}
	}
	.form-items {
		padding:2rem 1rem 2rem 1rem ;
	}
	.form-item {
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}
	.form-item__label {
		font-weight: bold;
		margin-bottom: 0.4rem;
		display: flex;
		align-items: baseline;
		line-height: 2rem;
		font-size: 1.2rem;
	}
	.form-item--hol {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	.form-item--hol .form-item__label {
		margin-bottom: 0;
	}
	.form-item__label.require::after {
		content: "必須";
		background-color: #db504b;
	}
	.form-item__label::after {
		margin-right: 0.75rem;
		color: #fff;
		background-color: #212121;
		padding: 0.2rem 0.2rem;
		line-height: 1.4rem;
		height: 1.6rem;
		line-height: 1;
		font-size: 1.2rem;
		font-weight: 500;
		vertical-align: middle;
		border-radius: 0.2rem;
		top: -0.1rem;
		margin-left: 1rem;
	}
	.form-item__body.col2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}
	.caution {
		margin: 2rem 0 0rem 0;
		padding: 2rem ;
		background-color: #e6e6e6;
		p {
			font-size: 1.2rem;
			line-height: 1.3;
		}
	}
	.caution p {
    font-size: 1.2rem;
    line-height: 1.3;
	}
}


.thanks{
	text-align: center;
	border-top:1px solid #CCC;
	padding:5rem 0 0 0;
	div{
		font-weight:700;
		font-size: 1.8rem;
		margin-bottom:2rem;
	}
	p{
		font-size: 1.3rem;
	}
	a{
		background-color: #5490f5;
		border-radius: 1.4px;
		width: 13.9rem;
		height: 2.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		font-weight: bold;
		color: #fff;
		margin: 3.3rem auto 0rem;
	}
}









@media screen and (min-width:768px) {
	#warp,
	.contact{
			background-color: #fff;
			max-width: 37.5rem;
			margin: 0 auto;
			position: relative;
	}
	html {
		font-size: 10px;
	}
	}
	body {
		font-size: 1.5rem;
	}
}



